<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Data Source" value="db4UGWS.mdb"/>
		<add key="Database Password" value="1221"/>
		<!--過磅單種類 A:直式 B:橫式-->
		<add key="過磅單" value="B"/>
	</appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>