<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Data Source" value="db4UGWS.mdb"/>
		<add key="Database Password" value="1221"/>
		<!--
		<add key="ReportDir" value="C:\原綱衡器報表"/>
		<add key="ReportSubDir" value="C:\原綱衡器報表\過磅資料表"/>
		-->
	</appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>